<div class= "chat-header">
  <div class= "header_title">hogefuga</div>
  <div class= "right_header">
   <div class= "header_botton"><a href="#">チャットを終了する</a></div>
  </div>
</div>
<div class= "messages">
  <div class="message">
    <div class="chat">
      <div class="current_user">Tom</div>
      <div class="message_date">2021/9/25(sat) 10:10</div>
    </div>
    <div class="lower_message">
      <div class="user_message">おはよう</div>
    </div>
    
  </div>
  <div class="message">
    <div class="chat">
      <div class="current_user">Tom</div>
      <div class="message_date">2021/9/25(sat) 20:10</div>
    </div>
    <div class="lower_message">
      <div class="user_message">こんばんは</div>
    </div>
    
  </div>
</div>

<div class= "form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message" >
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input class="form-submit" type="submit" value="送信">
</div>