.side_bar{
  width:300px;
  background-color: #253141;
  height: 100vh;
}
.main_chat{
  width:calc(100vw - 300px);
  background-color: #ffffff;
}
.wrapper{
  display: flex;
}

.side-bar-header{
  background-color: #253141;
  height: 100px;
  padding:0 20px;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #2f3E51;
  padding: 0 20px;
}

.chat-header{
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.messages{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
}

.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}